.AboutContainer {
  width: 80%;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 1rem;
  flex-direction: column;
  justify-content: center;
}

a,
a:link,
a:visited {
  color: white;
  text-decoration: none !important;
}
a:hover {
  color: #fd8ed4 !important;
}
