// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(to left, #532341, #111111);
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbar {
  background-color: rgba(255, 0, 0, 0) !important;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  justify-content: center;
}
.NavLink,
.NavLink:link,
.NavLink:visited {
  color: white;
  text-decoration: none;
}
.NavLink:hover {
  color: #160911 !important;
}
.App-footer {
  display: flex;
  flex-direction: column;
  color: white;
  margin: auto auto 10px;
  justify-content: flex-end;
}
